@import "tailwindcss";

@theme {
    --color-darkblue: #0f172a;
    --color-blueshade: #152032;
    --color-lightblue: #3b82f6;
    --color-purple-500: #a855f7;
    --color-green-400: #22c55e;
    --color-white-shade: #6980c3;
}